/* GENERAL */
/* houses */
.logo {
  width: 100px;
}

button > img {
  border-radius: 100%;
  width: 30px;
}

/* house info */
/* login */
div.login-background-img {
  background-image: url(https://res.cloudinary.com/dsko6ntfj/image/upload/v1642399115/portal/web%20development%20beginners/05%20Project%20Airbnb/assets/thailand.jpg);
  background-size: 100% auto;
}

/* profile */
/* error */
